<li class="collection-item hoverable">
    <!-- Delete Button -->
    <a class="btn-floating btn-medium red right">
        <i class="material-icons">delete</i></a>

    <!-- Note Button -->
    <a class="btn-floating btn-medium blue right">
    <i class="material-icons">edit</i></a>

    <!-- Title and Summary Texts -->
    <h4 class="title">This is an Article Title</h4>
    <p>This is the article summary</p>
</li>