#topnav {
    padding: 0 30px;
}

.collection .collection-item {
    margin: 20px 10px;
}

a.btn-floating {
    margin: 0 10px;
}

.modal {
    width: 75% !important;
    max-height: 100% !important;
    overflow-y: hidden !important;
}